<section>
  <h1>About Me</h1>
  <p>
    <img src="http://www.gravatar.com/avatar/fc200fdbb63c5fa39f7a8c98b4915924" style="float: left" />
    Hi, my name is Andi and I am a passionate web developer. I really like to write beautiful ruby code which normaly runs in a <a href="http://rubyonrails.org/">Rails</a> web application. I am one of the founders at <a href="http://galaxycats.com">Galaxy Cats</a> where we are focusing on supporting startups from the very first line of code to develop high quality web apps. See <a href="/about-me/">About Me</a> for more infos.
  </p>
</section>
